.header__site {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.header__site  .searchs {
    position: relative;
    display: flex;
    margin-left: 10px;
}
.header__site .searchs input {
    margin-right: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(223, 223, 223);
    color: rgb(24, 24, 173)
}
.header__site .searchs input:focus {
    outline: none;
}
.header__site .searchs button {
    position: absolute;
    right: 0;
    border-radius: 0px 10px 10px 0px;
    height: 57px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(223, 223, 223);
}
.header__site .searchs button:focus {
    outline: none;
}
.header__site select {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(223, 223, 223);
    color: rgb(24, 24, 173)
}
.header__site select:focus {
    outline: none;
    border: 1px solid rgb(24, 24, 173);
}
.header__site button {
    padding: 8px 35px;
    cursor: pointer;
    color: rgb(24, 24, 173);
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.header__site button:hover {
    color: rgb(7, 7, 97);
}
.header__site button:focus {
    outline: none;
}
.header__button {
    display: flex;
}
.header__button p {
    margin-right: 1rem;
    color: rgb(24, 24, 173);
    text-transform: capitalize;
    font-weight: bold;
}