li {
    list-style: none;
}
img{
    width: 120px;
}
/*═══════════════════════════════════════════════════════
                   Provisional Grid
═══════════════════════════════════════════════════════*/
@media (min-width:992px) {
    .row{
        display:flex;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-4{
        width: 33.34%;
    }
    .col-lg-6{
        width: 50%;
    }
}
@media (min-width:1200px) {
    .row{
        display:flex;
    }
    .col-xl-8{
        width: 66.66%;
    }
    .col-xl-4{
        width: 33.34%;
    }
    .col-xl-6{
        width: 50%;
    }
}


/*═══════════════════════════════════════════════════════
                  Center-Card styles
═══════════════════════════════════════════════════════*/
.circle-base{
    background:#D22121 ;
    height: 250px;
    width: 250px;
    border-radius:50%;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}
.circle-contrast{
    background:white;
    height: 200px;
    width: 200px;
    border-radius:50%;
    position:absolute;
    margin-top: 24px;
}
.circle-center{
    background: #D22121;
    height: 150px;
    width: 150px;
    border-radius:50%;
    position:absolute;
    margin-top: 24px;
    margin-left: 24px;   
}
.bar{
    background:white;
    height: 26px;
    width: 250px;
    border-radius: 8px;
    margin-top:110px;
}
.dats-poke {
    position: relative;
}
.dats-poke h2 {
    text-align: center;
    margin-top: 2rem;
    text-transform: capitalize;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.164)!important;
    padding-top: 1rem;
    padding: 10px;
    color: rgb(0, 0, 92);
}
.dats-poke a {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: rgb(180, 180, 180);
}
.dats-poke .encounters {
    position: absolute;
    top: 7px;
    right: 7rem;
    color: rgb(180, 180, 180);
}
.dats-poke .encounters a{
    text-decoration: none;
}
.dats-poke .general-poke {
    padding: 2px 20px;
    display: flex;
    justify-content: space-around;
}
.dats-poke .general-poke p {
    color: rgb(4, 4, 90);
    font-weight: bold;
}
.dats-poke .general-poke p span {
    font-weight: 500;
    color: rgb(88, 88, 88);
}   
.general-poke .habilities {
    text-align: center;
}

.general-poke .habilities h4 {
    border-bottom: 1px solid rgb(223, 223, 223);
}
.general-poke .habilities div {
    display: flex;
}
.general-poke .habilities div li{
    text-align: left;
    text-transform: capitalize;
    color: rgb(0, 0, 92);
    border: 1px solid rgb(180, 180, 180);
    padding: 10px;
    border-radius: 5px;
    margin: 1rem;
}






.moves-side {
    background-color: rgb(243, 243, 243);
    border-left: 2px solid rgb(223, 223, 223);
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
}

.moves-body {
    width: 500px;
}
.moves-body h3 {
    text-align: center;
    margin-top: -6px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.164)!important;
    padding: 10px;
    color: rgb(0, 0, 92);
}
.moves-body .list-moves ul {
    display: flex;
    flex-wrap: wrap;
}
.moves-body .list-moves ul li {
    border: 1px solid rgb(223, 223, 223);
    width: 35%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    text-transform: capitalize;
    color: rgb(0, 0, 92);

}
